# C521018 김은빈

# iteralbe 컴프리헨션 기본

In [1]:
nums_comp = [num+10 for num in range(1,6)]
print(f'{nums_comp =}')

nums_comp =[11, 12, 13, 14, 15]

In [2]:
nums_for =[]

for num in range(1,6):

    nums_for.append(num+10)

print(f'{nums_for =}')

nums_for =[11, 12, 13, 14, 15]

In [3]:
def add_ten(num):
    return num+10

add_ten(5)

15

In [4]:
map(add_ten,[1,2,3,4,5])

In [5]:
list(map(add_ten,[1,2,3,4,5]))

[11, 12, 13, 14, 15]

In [6]:
nums_map = list(map(add_ten,range(1,6)))
print(f'{nums_map =}')

nums_map =[11, 12, 13, 14, 15]

In [7]:
nums_math = [num*2 -1 for num in range(1,6)]
print(f'{nums_math =}')

nums_math =[1, 3, 5, 7, 9]

In [8]:
def addString(x):
    return 'Int_'+ str(x)
nums_func =[addString(num) for num in range(1,6)]
print(f'{nums_func =}')

nums_func =['Int_1', 'Int_2', 'Int_3', 'Int_4', 'Int_5']

In [9]:
nums_odds = [num for num in range(1,6) if num % 2 == 1]
print(f'{nums_odds =}')

nums_odds =[1, 3, 5]

In [10]:
nums_odds_zero =[ num if num % 2 == 1 else 0 for num in range(1,6)]
print(f'{nums_odds_zero =}')

nums_odds_zero =[1, 0, 3, 0, 5]

In [11]:
nums_odds_less4 = [ num for num in range(1,6) if num % 2 == 1 if num < 4]
print(f'{nums_odds_less4 = }')

nums_odds_less4 = [1, 3]

In [12]:
nums_pairs = [ (x,y) for x in range(1,3) for y in ['a','b','c']]
print(f'{nums_pairs =}')

nums_pairs =[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c')]

In [13]:
num_pairs_sum5 = [ (x,y) for x in range(1,6) for y in range(1,6) if x+y ==5]
print(f'{num_pairs_sum5 =}')

num_pairs_sum5 =[(1, 4), (2, 3), (3, 2), (4, 1)]

In [ ]:
ids = [1,2,3,4]
student_names = ['김홍익','이컴프리','박헨션','최딕션']

students_for = {id:name for id in ids for name in student_names} # 중첩된 for문으로는 정상적인 딕셔너리 생성 불가

print(f'{students_for =}')

students_for ={1: '최딕션', 2: '최딕션', 3: '최딕션', 4: '최딕션'}

In [15]:
students_enumerate ={id:name for id,name in enumerate(student_names)}
print(f'{students_enumerate =}')

students_enumerate ={0: '김홍익', 1: '이컴프리', 2: '박헨션', 3: '최딕션'}

In [16]:
ids = [1,2,3,4]
student_names = ['김홍익','이컴프리','박헨션','최딕션']

students_zip ={id:name for id,name in zip(ids, student_names)}
print(f'{students_zip = }')

students_zip = {1: '김홍익', 2: '이컴프리', 3: '박헨션', 4: '최딕션'}

In [17]:
sum_list = [x+y for x in range(1, 6) for y in range(1, 6)]

print(f'{sum_list =}\n')

sum_set = {x+y for x in range(1,6) for y in range(1,6)}

print(f'{sum_set =}')

sum_list =[2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 6, 7, 8, 9, 10]

sum_set ={2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
nums_pairs_list = [(x,y) for x in range(1, 3) for y in ['a', 'b', 'c']]

print(f'{nums_pairs_list =}\n')

nums_pairs_tuple = ((x,y) for x in range(1, 3) for y in ['a', 'b', 'c']) # () : 제네레이터 생성 => 아직 값 X 

print(f'{nums_pairs_tuple = }')

print(f'{tuple(nums_pairs_tuple) = }\n') # tuple ( () ) : 제네레이터를 tuple()로 감쌈 => 튜플로 출력 가능

nums_pairs_tuple2 = tuple((x,y) for x in range(1, 3) for y in ['a','b','c']) # 위 과정을 한 번에 수행

print(f'{nums_pairs_tuple2 = }')

nums_pairs_list =[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c')]

nums_pairs_tuple = <generator object <genexpr> at 0x000001E7E8985540>
tuple(nums_pairs_tuple) = ((1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'))

nums_pairs_tuple2 = ((1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'))

# iterable 컴프리헨션 응용

In [21]:
names = ['Alice', 'Bob', 'Charlie']
name_lengths = {name: len(name) for name in names}
print(name_lengths)

# 이름 리스트를 이름 : 길이 딕셔너리로 변환

{'Alice': 5, 'Bob': 3, 'Charlie': 7}

In [24]:
nums = [1, 2, 3, 4, 5]
labels = ['even' if x % 2 == 0 else 'odd' for x in nums]
print(labels)

# 짝수, 홀수로 나누기

['odd', 'even', 'odd', 'even', 'odd']

In [26]:
numbers = [5, 12, 7, 18, 3]
is_even = [n % 2 == 0 for n in numbers]
print(is_even)

# 숫자가 짝수인지 아닌지 판별하기

[False, True, False, True, False]