# C521018 김은빈
## 4.iterable 자료형

## iterable 자료형 기본

In [1]:
x_list = [0,1,2,3,4]

print(x_list[0])
print(x_list[1])
print(x_list[2])
print(x_list[3])
print(x_list[4])

0
1
2
3
4

In [2]:
x_list = [0,1,2,3,4]

print(x_list[-1])
print(x_list[-2])
print(x_list[-3])
print(x_list[-4])
print(x_list[-5])

4
3
2
1
0

In [3]:
x_list = [0,1,2,3,4]

try:
    print(x_list[5])
except IndexError as e:
    print(e)

list index out of range

In [4]:
x_list = [1,2,3,4,5]
x_tuple = (1,2,3,4,5)

print(f'{x_list =} \t=> {x_list[0] = }')
print(f'{x_tuple =} \t=> {x_tuple[-1] =}')

x_list =[1, 2, 3, 4, 5] 	=> x_list[0] = 1
x_tuple =(1, 2, 3, 4, 5) 	=> x_tuple[-1] =5

In [5]:
x_dict = { 'name':['김홍익','이파이'], 'id' : [12345,67890]}

print(f'{x_dict = } \t => {x_dict['name'][0] = }')

x_dict = {'name': ['김홍익', '이파이'], 'id': [12345, 67890]} 	 => x_dict['name'][0] = '김홍익'

In [6]:
x_str = 'Hello World!'   #인덱싱 : 원소를 가져옴

print(f'{x_str = } \t\t => {x_str[0] = }')

print(f'{x_str = } \t\t => {x_str[3] = }')

x_str = 'Hello World!' 		 => x_str[0] = 'H'
x_str = 'Hello World!' 		 => x_str[3] = 'l'

In [7]:
x_list = [0,1,2,3,4]    #슬라이싱 => 리스트로 가져옴옴

print(x_list[1:3]) # 1부터 3 전까지
print(x_list[1:])  # 1부터 끝까지
print(x_list[:3])  # 처음부터 3 전까지
print(x_list[:])   #처음부터 끝까지

[1, 2]
[1, 2, 3, 4]
[0, 1, 2]
[0, 1, 2, 3, 4]

In [8]:
x_list = [0,1,2,3,4]

try:
    print(x_list[1:10])
except IndexError as e:
    print(e)

[1, 2, 3, 4]

In [9]:
x_list = [1,2,3,4,5]
x_tuple = (1,2,3,4,5)

print(f'{x_list = } \t => {x_list[0:3] = }')        #0부터 3 전까지
print(f'{x_tuple = } \t => {x_tuple[-1:-4:-1] = }') #뒤에서 1부터 4 전까지지

x_list = [1, 2, 3, 4, 5] 	 => x_list[0:3] = [1, 2, 3]
x_tuple = (1, 2, 3, 4, 5) 	 => x_tuple[-1:-4:-1] = (5, 4, 3)

In [10]:
x_dict = { 'name':['김홍익','이파이'], 'id' : [12345,67890]}

print(f'{x_dict = } \t => {x_dict["name"][0:1] = }') #name key의 0부터 1 전까지

x_dict = {'name': ['김홍익', '이파이'], 'id': [12345, 67890]} 	 => x_dict["name"][0:1] = ['김홍익']

In [11]:
x_str = 'Hello Wolrd!'

print(f'{x_str = } \t\t => {x_str[0:3] = }')  #0부터 3 전까지

print(f'{x_str = } \t\t => {x_str[-2:-10:-2] = }')  #-2부터 -10 전까지 -2 칸씩

x_str = 'Hello Wolrd!' 		 => x_str[0:3] = 'Hel'
x_str = 'Hello Wolrd!' 		 => x_str[-2:-10:-2] = 'dlWo'

In [12]:
x = (1,2,3)  # 이뮤터블 객체 : 튜플

y=x

print(f'{x = } \t => {id(x) = }')
print(f'{y = } \t => {id(y) = }')

y = (1,20,3)

print(f'{x = } \t => {id(x) = }')
print(f'{y = } \t => {id(y) = }')

x = (1, 2, 3) 	 => id(x) = 1322585780928
y = (1, 2, 3) 	 => id(y) = 1322585780928
x = (1, 2, 3) 	 => id(x) = 1322585780928
y = (1, 20, 3) 	 => id(y) = 1322585968704

In [13]:
x = [1,2,3]

y=x

print(f'{x = } \t => {id(x) = }')
print(f'{y = } \t => {id(y) = }')

y[1]=20 #y의값만 바꿨지만 x값도 바뀜 -> x와 y는 한 몸(얕은복사)

print(f'{x = } \t => {id(x) = }')
print(f'{y = } \t => {id(y) = }')

x = [1, 2, 3] 	 => id(x) = 1322587264640
y = [1, 2, 3] 	 => id(y) = 1322587264640
x = [1, 20, 3] 	 => id(x) = 1322587264640
y = [1, 20, 3] 	 => id(y) = 1322587264640

In [14]:
x= [1,2,3]

y=x.copy()  #깊은 복사 ( 주소 다름 )

print(f'{x = } \t => {id(x) = }')
print(f'{y = } \t => {id(y) = }')

y[1]=20

print(f'{x = } \t => {id(x) = }')
print(f'{y = } \t => {id(y) = }')

x = [1, 2, 3] 	 => id(x) = 1322587273472
y = [1, 2, 3] 	 => id(y) = 1322587315200
x = [1, 2, 3] 	 => id(x) = 1322587273472
y = [1, 20, 3] 	 => id(y) = 1322587315200

In [15]:
x_list = [1,2,3,4,5]

x_tuple = (1,2,3,4,5)

print(f'x_list는 {type(x_list)}이고, x-tuple은 {type(x_tuple)}이다.')

x_list는 <class 'list'>이고, x-tuple은 <class 'tuple'>이다.

In [16]:
print(f'Before:{x_list}')

try:
    x_list[1]='2'

    del x_list[3]
except TypeError as e:
    print(f'Error:{e}')

print(f'After : {x_list}')

Before:[1, 2, 3, 4, 5]
After : [1, '2', 3, 5]

In [17]:
print(f'Before:{x_tuple}')

try:
    x_tuple[1]='2'
except TypeError as e:
    print(f'Error:{e}')

try:
    del x_tuple[3]
except TypeError as e:
    print(f'Error:{e}')

print(f'After:{x_tuple}')

Before:(1, 2, 3, 4, 5)
Error:'tuple' object does not support item assignment
Error:'tuple' object doesn't support item deletion
After:(1, 2, 3, 4, 5)

In [18]:
x_list = [0,1,2,3,4]

print(f'{len(x_list) =}')

print(f'{sum(x_list) =}')

print(f'{min(x_list) =}')

print(f'{max(x_list) =}')

print(f'{sorted(x_list) =}')

print(f'{sorted(x_list,reverse=True) =}')

print(f'{all(x_list) =}')

print(f'{any(x_list) =}')

len(x_list) =5
sum(x_list) =10
min(x_list) =0
max(x_list) =4
sorted(x_list) =[0, 1, 2, 3, 4]
sorted(x_list,reverse=True) =[4, 3, 2, 1, 0]
all(x_list) =False
any(x_list) =True

In [19]:
print(dir(x_list),end='\n'+'='*80+'\n')

print(dir(x_tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
================================================================================
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [20]:
x_list = [1,2,3,4,5,2,3,2]

print(f'{x_list = }')

print(f'{x_list.count(2) = }') # 2의개수 출력

print(f'{x_list.index(2) = }') # 2의 첫번째 인덱스  출력

x_list = [1, 2, 3, 4, 5, 2, 3, 2]
x_list.count(2) = 3
x_list.index(2) = 1

In [21]:
x_list = [1,2,3,4,5,2,3,2]

y_list = x_list.copy()

print(f'{y_list =}')

print(f'{x_list is y_list =}')

print(f'{id(x_list) =},{id(y_list) =}')

y_list =[1, 2, 3, 4, 5, 2, 3, 2]
x_list is y_list =False
id(x_list) =1322587310720,id(y_list) =1322587297280

In [22]:
x_list.reverse()
print(f'{x_list =}')

x_list =[2, 3, 2, 5, 4, 3, 2, 1]

In [23]:
x_list = [1,2,3,4,5,2,3,2]

x_list.sort()
print(f'{x_list =}')

x_list.append(6)
print(f'{x_list = }')

x_list.extend([7,8,9])
print(f'{x_list = }')

x_list.append([10,11,12])
print(f'{x_list = }')

x_list.insert(3,3.5)
print(f'{x_list = }')

x_list.remove(3.5)
print(f'{x_list = }')

x_list.pop() # 마지막원소삭제
print(f'{x_list =}')

x_list.pop(7)
print(f'{x_list = }')

x_pop = x_list.pop(0)
print(f'{x_list = }, {x_pop = }')

x_list.clear()
print(f'{x_list = }')

del x_list

try:
    print(f'{x_list =}')
except NameError as e:
    print(f'Error : {e}')

x_list =[1, 2, 2, 2, 3, 3, 4, 5]
x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6]
x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]
x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]
x_list = [1, 2, 2, 3.5, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]
x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]
x_list =[1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]
x_list = [1, 2, 2, 2, 3, 3, 4, 6, 7, 8, 9]
x_list = [2, 2, 2, 3, 3, 4, 6, 7, 8, 9], x_pop = 1
x_list = []
Error : name 'x_list' is not defined

In [24]:
string1 = "Hello Python! My name is Python. I am a Python Developer."

print(string1)

Hello Python! My name is Python. I am a Python Developer.

In [25]:
string2 = 'Hello Python! My name is Python. I am a Python Developer.'

print(string2)

Hello Python! My name is Python. I am a Python Developer.

In [26]:
string3 = """Hello Python!
My name is Python.
I am a Python Developer.
"""
print(string3)

Hello Python!
My name is Python.
I am a Python Developer.

In [27]:
string4 = '''Hello Python!
My name is Python.
I am a Python Developer.
'''
print(string4)

Hello Python!
My name is Python.
I am a Python Developer.

In [28]:
string = 'Hello \tPython! \nMy \tname \tis \tPython. \nI \tam \ta \tPython \tDeveloper.'
print(string)

Hello 	Python!
My 	name 	is 	Python.
I 	am 	a 	Python 	Developer.

In [29]:
string = 'Hello \t\\Python\\! \nMy \tname \tis \t\'Python\'!. \nI \tam \ta \t\"Python\" \tDeveloper.'
print(string)

Hello 	\Python\!
My 	name 	is 	'Python'!.
I 	am 	a 	"Python" 	Developer.

In [30]:
string_r=r'Hello \t\\Python\\! \nMy \tname \tis \t\'Python\'!. \nI \tam \ta \t\"Python\" \tDeveloper.'
print(string_r)

Hello \t\\Python\\! \nMy \tname \tis \t\'Python\'!. \nI \tam \ta \t\"Python\" \tDeveloper.

In [31]:
name='Python'

string_f=f'Hello {name}! My name is {name}. I am a {name} Developer.'
print(string_f)

Hello Python! My name is Python. I am a Python Developer.

In [32]:
string = "Hello Python! My name is Python. I am a Python Developer."

print(f'''
==== 인덱싱(포인트) ====
{string[0] =}
{string[3] =}
{string[-1] =}
{string[-3] =}

==== 슬라이싱(구간) ====
{string[0:5] =}
{string[6:12] =}
{string[:5] =}
{string[6:] =}
{string[6:-1] =}
{string[6:-3] =}

==== 스텝(간격) ====
- 인덱스 6부터 2칸씩 12전까지
{string[6:12:2] =}
-처음부터 끝까지 2칸씩
{string[::2] =}
-처음부터 끝까지 거꾸로 1칸씩
{string[::-1] =}
''')

==== 인덱싱(포인트) ====
string[0] ='H'
string[3] ='l'
string[-1] ='.'
string[-3] ='e'

==== 슬라이싱(구간) ====
string[0:5] ='Hello'
string[6:12] ='Python'
string[:5] ='Hello'
string[6:] ='Python! My name is Python. I am a Python Developer.'
string[6:-1] ='Python! My name is Python. I am a Python Developer'
string[6:-3] ='Python! My name is Python. I am a Python Develop'

==== 스텝(간격) ====
- 인덱스 6부터 2칸씩 12전까지
string[6:12:2] ='Pto'
-처음부터 끝까지 2칸씩
string[::2] ='HloPto!M aei yhn  maPto eeoe.'
-처음부터 끝까지 거꾸로 1칸씩
string[::-1] ='.repoleveD nohtyP a ma I .nohtyP si eman yM !nohtyP olleH'

In [33]:
string = "Hello Python! " + "My name is Python. " + "I am a Python Developer."
print(string)

Hello Python! My name is Python. I am a Python Developer.

In [34]:
string = 'Hello Python! ' * 3
print(string)

Hello Python! Hello Python! Hello Python!

In [35]:
string = "2024_바이오헬스 교과목 목록.xlsx"

#문자열 길이 
print(len(string))

#문자열에 2024가 들어있는지 확인
print('2024' in string)

#문자열에 'csv'가 들어있는지 확인
print('csv' not in string)

22
True
True

In [36]:
my_dict1 = {}

my_dict2 = ()

print(f'{my_dict1 =} \n{my_dict2 =}')

my_dict1 ={}
my_dict2 =()

In [37]:
my_dict1 = {'name' : 'Max', 'age' : 28, 'city' : 'New York'} #중괄호로 생성

my_dict2 = dict(name='Max',age=28,city='New York')

my_dict3 = dict([('name','Max'), ('age',28), ('city','New York')])

print(f'{my_dict1 =}\n{my_dict2 =}\n{my_dict3 =}')

my_dict1 ={'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict2 ={'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict3 ={'name': 'Max', 'age': 28, 'city': 'New York'}

In [38]:
person_keys = ['name','age','city']
person_values = ['Max' , 28 , 'New York']

#zip()으로 묶어서 dict()로 변환

my_dict4 = dict(zip(person_keys,person_values))

print(f'{my_dict4 =}')

my_dict4 ={'name': 'Max', 'age': 28, 'city': 'New York'}

In [39]:
my_dict_dict = {'A' : {'name' : 'Max', 'age' : 28 , 'city' : 'New York'},
                'B' : {'name' : 'Mary', 'age' : 22, 'city' : 'Seoul'}}
print(f'{my_dict_dict =}')

my_dict_dict ={'A': {'name': 'Max', 'age': 28, 'city': 'New York'}, 'B': {'name': 'Mary', 'age': 22, 'city': 'Seoul'}}

In [40]:
from pprint import pprint
pprint(my_dict_dict)

{'A': {'age': 28, 'city': 'New York', 'name': 'Max'},
 'B': {'age': 22, 'city': 'Seoul', 'name': 'Mary'}}

In [41]:
print(f'{my_dict1 =}')

print(f'{type(my_dict1) =}')

print(f'{len(my_dict1) =}')

print("name" in my_dict1)

print("Max" in my_dict1)

my_dict1 ={'name': 'Max', 'age': 28, 'city': 'New York'}
type(my_dict1) =<class 'dict'>
len(my_dict1) =3
True
False

In [42]:
print(f'{my_dict1["name"] =}')

try:
    print(f'{my_dict1["name2"] =}')
except KeyError as e:
    print(f'KeyError : {e}')

my_dict1["name"] ='Max'
KeyError : 'name2'

In [43]:
print(f'{my_dict_dict["A"]["name"] =}')

my_dict_dict["A"]["name"] ='Max'

In [44]:
print(f'{my_dict1.get("name") = }')

print(f'{my_dict1.get("name2") = }')

print(f'{my_dict1.get("name2","replacement") =}')

my_dict1.get("name") = 'Max'
my_dict1.get("name2") = None
my_dict1.get("name2","replacement") ='replacement'

In [45]:
print(f'{my_dict1.keys() = }')

print(f'{my_dict1.values() = }')

print(f'{my_dict1.items() = }')

my_dict1.keys() = dict_keys(['name', 'age', 'city'])
my_dict1.values() = dict_values(['Max', 28, 'New York'])
my_dict1.items() = dict_items([('name', 'Max'), ('age', 28), ('city', 'New York')])

In [46]:
print(f'{my_dict1 =} ')

my_dict1["id"]=123
print(f'{my_dict1 =}')

my_dict1 ={'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict1 ={'name': 'Max', 'age': 28, 'city': 'New York', 'id': 123}

In [47]:
del my_dict1["id"]

print(f'{my_dict1 =}')

my_dict1 ={'name': 'Max', 'age': 28, 'city': 'New York'}

In [48]:
my_dict1["age"]=30
print(f'{my_dict1 =}')

my_dict1 ={'name': 'Max', 'age': 30, 'city': 'New York'}

In [49]:
my_dict1.update(age=40,id=123,occupation="Data Scientist")
print(f'{my_dict1 =}')

my_dict1 ={'name': 'Max', 'age': 40, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist'}

In [50]:
my_dict_more = {"age":50,"affiliation":"Hongik Univ."}
my_dict1.update(my_dict_more)
print(f'{my_dict1 =}')

my_dict1 ={'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist', 'affiliation': 'Hongik Univ.'}

In [51]:
my_dict1.pop("affiliation")
print(f'{my_dict1 =}')

my_dict1 ={'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123, 'occupation': 'Data Scientist'}

In [52]:
occupation =my_dict1.pop("occupation")
print(f'{my_dict1 =}\n{occupation =}')

my_dict1 ={'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123}
occupation ='Data Scientist'

In [53]:
try:
    my_dict1.pop("occupation")
except KeyError as e:
    print(f'KeyError : {e}')

occupation = my_dict1.pop("occupation","unknown")
print(f'{occupation =}')

KeyError : 'occupation'
occupation ='unknown'

In [54]:
print(f'{my_dict1 = }')

last = my_dict1.popitem()
print(f'{my_dict1 =}\n{last =}')

last =my_dict1.popitem()
print(f'{my_dict1 =}\n{last =}')

my_dict1 = {'name': 'Max', 'age': 50, 'city': 'New York', 'id': 123}
my_dict1 ={'name': 'Max', 'age': 50, 'city': 'New York'}
last =('id', 123)
my_dict1 ={'name': 'Max', 'age': 50}
last =('city', 'New York')

In [55]:
my_dict1.clear()
print(f'{my_dict1 =}')

my_dict1 ={}

## iterable 자료형 응용

In [57]:
# 똑같은 딕셔너리를 만드는 세가지 방법

my_dict1 = {'name' : 'Max', 'age' : 28, 'city' : 'New York'} 

my_dict2 = dict(name='Max',age=28,city='New York') 

my_dict3 = dict([('name','Max'), ('age',28), ('city','New York')])

print(f'{my_dict1 =}\n{my_dict2 =}\n{my_dict3 =}')

my_dict1 ={'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict2 ={'name': 'Max', 'age': 28, 'city': 'New York'}
my_dict3 ={'name': 'Max', 'age': 28, 'city': 'New York'}

In [ ]:
# value 값엔 리스트 값도 들어갈 수 있다
name1 = 'name'
name2 = [1,2,3,4,5]

my_dict13 = {name1 : name2,'age' : 28, 'city' : 'New York'} 

print(my_dict13)

{'name': [1, 2, 3, 4, 5], 'age': 28, 'city': 'New York'}

In [60]:
name1 = 'name'
name2 = [1,2,3,4,5]

my_dict13 = {name2 : name1,'age' : 28, 'city' : 'New York'} 

print(my_dict13)

#리스트는 key로 받을 수 없다
#값이 하나인 것만 key로 받을 수 있다

TypeError: unhashable type: 'list'